@model FHIR_FIT3077.ViewModel.PatientViewModel;


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Cholesterol</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MonitorList.Count > 0)
        {
            @foreach (var item in Model.MonitorList)
            {
                bool renderedFlag = false;
                @foreach (var cholVal in (List<double>)ViewData["max"])
                {
                    
                    var value = Convert.ToDouble(item.Records[0].Value);
                    if (value == cholVal && Model.MonitorList.Count > 1)
                    {
                        <tr>
                            <td><span style="color:red">@item.Name</span></td>
                            <td><span style="color:red">@item.Records[0].Value</span></td>
                            <td><span style="color:red">@item.Records[0].Date</span></td>
                        </tr>
                        renderedFlag = true;
                    }
                }
                if(!renderedFlag)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Records[0].Value</td>
                        <td>@item.Records[0].Date</td>
                    </tr>
                }


            }

        }
    </tbody>
</table>
