@using FIT3077.Shared.Models
<style>
    .center {
        text-align: center;
    }
</style>

    <Table  Striped="true">
        <TableHeader>
            <TableRow>
                <TableHeaderCell class="center col-8">Name</TableHeaderCell>
                <TableHeaderCell class="center col-2">Total Cholesterol</TableHeaderCell>
                <TableHeaderCell class="center col-8">Time</TableHeaderCell>
                <TableHeaderCell class="center col-2">Systolic Blood Pressure</TableHeaderCell>
                <TableHeaderCell class="center col-2">Diastolic Blood Pressure</TableHeaderCell>
                <TableHeaderCell class="center col-2">Time</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @if (Monitors != null)
            {
                @foreach (var monitor in Monitors)
                {
            <TableRow>
                <TableRowCell class="center">
                    @monitor.PatientName
                </TableRowCell>

                @if (monitor.MeasurementList.CholesterolRecords.Count > 0)
                {
                    @if (monitor.CholFlag == true)
                    {
                        <TableRowCell Class="center">
                
                            <td><span style="color:red">@monitor.MeasurementList.CholesterolRecords[0].Value</span></td>
                        </TableRowCell>
                        <TableRowCell Class="center">
                            @monitor.MeasurementList.CholesterolRecords[0].Date
                        </TableRowCell>
                    }
                    else
                    {
                        <TableRowCell Class="center">
                            @monitor.MeasurementList.CholesterolRecords[0].Value
                        </TableRowCell>
                        <TableRowCell Class="center">
                            @monitor.MeasurementList.CholesterolRecords[0].Date
                        </TableRowCell>
                    }

                }
                else
                {
                    <TableRowCell Class="center"></TableRowCell>
                    <TableRowCell Class="center"></TableRowCell>
                    <TableRowCell Class="center"></TableRowCell>
                }

                @if (monitor.MeasurementList.BloodPressureRecords.Count > 0)
                {
                    <TableRowCell Class="center">
                        @monitor.MeasurementList.BloodPressureRecords[0].SystolicRecord.Value
                    </TableRowCell>
                    <TableRowCell Class="center">
                        @monitor.MeasurementList.BloodPressureRecords[0].DiastolicRecord.Value
                    </TableRowCell>
                    <TableRowCell Class="center">
                        @monitor.MeasurementList.BloodPressureRecords[0].Date
                    </TableRowCell>
                }
                else
                {
                    <TableRowCell Class="center"></TableRowCell>
                    <TableRowCell Class="center"></TableRowCell>
                    <TableRowCell Class="center"></TableRowCell>
                }
            </TableRow>
                }
            }
        </TableBody>
    </Table>
@code {
    [Parameter]
    public List<Monitor> Monitors { get; set; }
}
